params.chunk_size = 9


process {
    executor = 'awsbatch'
    queue = 'arn:aws:batch:us-east-1:543533956684:job-queue/crystalia-collector-batch-process-2'
    container = '543533956684.dkr.ecr.us-east-1.amazonaws.com/crystalia-collector-batch-repo:v0.3'

}
       
       
aws.region = 'us-east-1'
aws.batch.platformType = 'FARGATE'